{{#detail-pane-v2 class="side-fixed col-xs-5 type-v2" as |section|}}
    {{#section.right-module class="fill-space flex-column"  as |right-module|}}
        {{#right-module.header class="box-padding-Llg-v2" closeDetailPane=(action "cancel")}}{{headerText}}{{/right-module.header}}
        {{#right-module.body class="flex-grow box-padding-An"}}
            {{view-spinner isLoading=isLoading}}
            <div class="box-padding-Alg-v2" data-element="{{model.section}}-detail">
                <label class="field-label">{{title}}</label>
                {{text-area-counter autofocus=true isDisabled=isNotAllowedToEdit autosize=true
                    value=pmhField.value placeholderText=placeholderText
                    maxlength="4000" rows="3"}}
            </div>
        {{/right-module.body}}
        {{#right-module.footer class="inline-flex-group-v2 box-padding-LRlg-v2 box-padding-TBsm-v2"}}
            {{#if isAllowedToEdit}}
                <div class="item gutter-sm box-fixed">
                    <button type="button" class="btn--default" onclick={{action "cancel"}} data-element="btn-past-medical-history-cancel">
                        Cancel
                    </button>
                </div>
                <div class="item gutter-sm box-fixed">
                    <button type="button" class="btn--default {{unless pmhField.value "hidden"}}" onclick={{perform save true}} data-element="btn-past-medical-history-delete">
                        Delete
                    </button>
                </div>
                <div class="item gutter-sm text-right">
                    <button type="button" class="btn--brand" disabled={{disableSave}} onclick={{perform save false}} data-element="btn-past-medical-history-save">
                        Save
                    </button>
                </div>
            {{else}}
                <div class="item gutter-sm text-right">
                    <button type="button" class="btn--brand" onclick={{action "cancel"}} data-element="btn-past-medical-history-close">
                        Close
                    </button>
                </div>
            {{/if}}
        {{/right-module.footer}}
    {{/section.right-module}}
{{/detail-pane-v2}}
