<div class="row header-row"><div class="col-xs-12"><h2>{{title}} Goals</h2></div></div>
<div class="row header-row">
    <div class="col-xs-10">Description</div>
    <div class="col-xs-2">Effective Date</div>
</div>
{{#each data as |item|}}
    <div class="row no-stripe">
        <div class="col-xs-10 formatted-text">{{item.description}}</div>
        <div class="col-xs-2">{{item.effectiveDate}}</div>
    </div>
{{else}}
    <div class="row no-stripe">
        <div class="col-xs-12">{{noGoalsText}}</div>
    </div>
{{/each}}
