<div><a data-element="sia-name-{{index}}">{{sia.displayName}}</a></div>
<div>
    <div class="inline-block box-margin-Rlg-v2" data-element="sia-start-date-{{index}}"><span>Start date:</span> {{sia.startDate}}</div>
    <div class="inline-block" data-element="sia-status-{{index}}"><span>Status:</span> {{sia.displayStatus}}</div>
</div>
