<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Testing for Pompe is available</h2>
            <p>Pompe disease is a progressive and often fatal neuromuscular disorder with symptoms that can mimic other metabolic myopathies. Making the correct diagnosis is an important step in managing&nbsp;your patient’s care.</p>
            <p>If Pompe is suspected, the following tests are available:</p>
            <div class="row">
                <div class="col-sm-6 right-border">
                    <p><b>GAA enzyme testing</b><br>
                        This is an initial screening tool for Pompe disease. GAA enzyme activity levels in the normal range exclude the diagnosis of Pompe disease.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p><b><em>GAA</em> gene sequencing</b><br>
                        If GAA enzyme activity shows deficient or low-level activity, then <em>GAA</em> gene sequencing is required to confirm a diagnosis of Pompe.
                    </p>
                </div>
            </div>
            <h2>Order testing through Duke University at no cost</h2>
            <div class="container limit-width">
                <p>GAA enzyme testing and <em>GAA</em> gene sequencing are&nbsp;available at no cost&nbsp;through Duke University’s <a id="duke-pompe-disease-testing-program" {{action "trackClick" "duke-order-test-kit"}} href="http://pediatrics.duke.edu/divisions/medical-genetics/biochemical-genetics-laboratory/glycogen-storage-disease-laboratory">Pompe Disease Testing Program</a>. You can submit a sample for testing through the following options:</p>
                <div class="center options-box">
                    <p><b>Option 1: Order a test kit and follow the enclosed instructions</b><br>
                        Test kits include materials for collection of whole blood sample for testing as well as pre-paid shipping label and cold-pak. Order online below or call 877-873-2753.</p>
                        <p><a id="duke-order-test-kit" class="btn btn-large cta orange" {{action "trackClick" "duke-order-test-kit"}} href="https://lsdtesting.myregistrationp.com">Order testing kit</a>
                    </p>
                </div>
                <div class="center options-box">
                    <p><b>Option 2: Collect whole-blood specimen and submit with requisition form</b><br>
                        Instead of using a test kit, you can submit a whole blood in EDTA (lavender top tube; 3 mL minimum) and FedEx overnight with cold-pak.
                    </p>
                    <p>Each sample must be accompanied by a signed Pompe Disease Testing Program requisition form.</p>
                    <p><a id="duke-download-req-form" class="btn btn-large cta orange" {{action "trackClick" "duke-download-req-form"}} href="https://www.pompe.com/en/-/media/Pompe/Files/en/PDF/Duke_DBS_test.pdf">Download requisition form</a></p>
                </div>
            </div>
            <h2>Additional labs that offer Pompe testing</h2>
            <p>The following labs offer fee-based testing for Pompe:</p>
            <div class="container limit-width">
                <div class="center options-box">
                    <p><b>Integrated Genetics<br>
                        Tests offered:</b> GAA enzyme testing, <em>GAA</em> gene sequencing<br>
                        <b>Phone number:</b> 877-246-1226<br>
                        <a id="ig-additional-info" {{action "trackClick" "ig-additional-info"}} href="http://www.integratedgenetics.com/" target="_blank">Additional information »</a>
                    </p>
                    <p>Submit a sample for testing by:</p>
                    <ol>
                        <li>Creating an account with&nbsp;Integrated Genetics.</li>
                        <li>Ordering a Pompe test kit from your account.</li>
                        <li>Following the test kit’s enclosed instructions.</li>
                    </ol>
                    <p>Kits are sent at no charge and include the materials for collection plus the FedEX return label.</p>
                    <p><a id="ig-create-account" class="btn btn-large cta orange" {{action "trackClick" "ig-create-account"}} href="https://goldconnect.labcorpspecialtytesting.com/">Create account</a></p>
                </div>
            </div>
            <div class="container limit-width">
                <div class="center options-box">
                    <p><b>Seattle Children’s Hospital<br>
                        Test offered:</b> GAA enzyme testing, <em>GAA</em> gene sequencing<br>
                        <b>Department:&nbsp;</b>Biochemical Genetics<br>
                        <b>Phone number:</b> 206-987-2216<br>
                        <a id="seattle-additional-info" {{action "trackClick" "seattle-additional-info"}} href="http://seattlechildrenslab.testcatalog.org/show/POMPE-SEQ" target="_blank">Additional information »</a>
                    </p>
                    <p>Submit a sample for testing by:</p>
                    <ol>
                        <li>Ensuring sample meets collection requirements.</li>
                        <li>Completing the requisition form.</li>
                        <li>Shipping sample to the Biochemical Genetic Laboratory.</li>
                    </ol>
                    <p><a id="seattle-dowload-req-form" class="btn btn-large cta orange" {{action "trackClick" "seattle-dowload-req-form"}} href="http://d2xk4h2me8pjt2.cloudfront.net/webjc/attachments/185/36ab53d-biochemical-genetics-requisition-3.15.16.pdf">Download requisition form</a></p>
                </div>
            </div>
            <div class="container limit-width">
                <div class="center options-box">
                    <p><b>ICAHN Mount Sinai Hospital New York<br>
                        Test offered:</b> GAA enzyme testing<br>
                        <b>Department:&nbsp;</b>Genetic Testing Laboratory<br>
                        <b>Phone number:</b> 212-241-7518<br>
                        <a id="icahn-additional-info" {{action "trackClick" "icahn-additional-info"}} href="http://icahn.mssm.edu/research/genomics/genetic-testing" target="_blank">Additional information »</a>
                    </p>
                    <p>Submit a sample for testing by:</p>
                    <ol>
                        <li>Ensuring sample meets collection requirements (call lab to confirm requirements).</li>
                        <li>Completing the requisition form.</li>
                        <li>Shipping sample to the Genetic Testing Laboratory.</li>
                    </ol>
                    <p><a id="icahn-download-req-form" {{action "trackClick" "icahn-download-req-form"}} class="btn btn-large cta orange" href="http://icahn.mssm.edu/files/ISMMS/Assets/Research/Genomics/GeneralTRFJan2015.pdf">Download requisition form</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="content-body">
                <div class="body-text"><p><em>Please note that orders for Pompe testing through the above mentioned labs can’t currently be submitted through your EHR. Practice Fusion has no affiliation with these labs.<b> </b></em></p></div>
            </div>
        </div>
    </div>
</div>
